@import '../../styles/Root.scss';

.container {
    @include container;
    background-color: #ebebeb;
    .title-area {
        padding: 16px;
        padding-bottom: 32px;
        background-color: #fff;
        .title {
            font-size: $desktop40px;
            color: $main-color;
            padding-bottom: 5px;
            border-bottom: solid 3px $main-color;            
        }
    }
    .content {
        margin-top: 16px;
        background-color: #fff;
        font-size: $desktop18px;
        padding: 16px;
    }
}
