@import '../../styles/Root.scss';

.container {
    @include container;
    background-color: #ebebeb;
    .title-area {
        padding: 16px;
        padding-bottom: 24px;
        background-color: #fff;
        .title {
            text-align: center;
            color: $main-color;
            font-size: $desktop28px;
            padding-bottom: 5px;
            border-bottom: solid 2px $main-color;
        }
    }
    .content {
        margin-top: 16px;
        padding: 16px;
        .button-area {
            display: inline-flex;
            width: 50%; height: 150px;
            justify-content: center;
            align-items: center;
            .button {
                width: 90%; height: 90%;
                background-color: #fff;
                border-radius: 12px;
                box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
                .body {
                    color: $main-color;
                    svg {
                        width: 40px; height: 40px;
                    }
                    .name {
                        font-size: $desktop18px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
