@import '../../styles/Root.scss';

.header {
    background-color: $main-color !important;
    .header-icon {
        width: 40px; height: 40px;
        svg {
            font-size: 3rem;
            fill: #fff;
        }
    }
    .title {
        width: 100%;
        padding-left: 16px;
        .link {
            font-size: $desktop20px;
            color: #fff;
            text-decoration: none;
        }
    }
}